
* {
    margin: 0px;
    font-family: Pretendard, serif;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: none;
    color: rgb(51, 51, 51);
  }
  
  .wrapper {
    position:relative;
  }
  
  
    .css-fkv7k {
    margin: auto;
    width: 100%;
    min-width: 360px;
    max-width: 420px;
    background-color: #ffffff;
    
    }
    .css-3mrm0u{
    min-height: calc(100vh - 55px);
    width: 100%;
    margin: 0 auto;
    }
  
  
  /*Middle wraper Start  */
  
  
  
  
  
     
  
  .css-10yrbxq {
    margin-top: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 20px;
   }
  
  .css-1i6ag2y {
    width: 100%;
    padding: 16px 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 12px;
    overflow: hidden;
  }   
  
  .css-1kzhogt {
    width: 48px;
    height: 48px;
    display: flex;
  }
  img {
    border-style: none;
  }
  
  @media (min-width: 960px){
  .css-10yrbxq {
    margin-top: 40px;
    padding: 0;
  }
  }
  
  @media (min-width: 960px){
  .css-1i6ag2y {
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
  }
  }
  
  
    @media (min-width: 960px){
        .css-3mrm0u {
            max-width: none;
            min-height: calc(100vh - 680px);
        }
        }
        
        @media (min-width: 960px){
        .css-fkv7k {
            background-color: #ffffff;
            max-width: none;
    
        }
        }
        
  
  
  @media (min-width: 960px){
  .css-q2wyx6 {
    width: 64px;
    margin: 0px 18px;
  }
  .css-q2wyx6 {
    cursor: pointer;
    padding: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
  }
  
  }
  
  @media (min-width: 960px){
  .css-1kzhogt {
    width: 62px;
    height: 62px;
  }
  }
  
  
  
  
  @media (min-width: 960px){
  .css-1aajv28 {
    font-size: 13px;
  }
  }
  .css-1aajv28 {
    width: 100%;
    margin-top: 8px;
    font-size: 11px;
    letter-spacing: -0.3px;
    text-align: center;
    word-break: break-word;
    overflow: hidden;
    line-height: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  
  /*Middle wraper End  */
  
  
  @media screen and (max-width:991px) {
    .displayonBig{
  display: none !important;
    }
    .imgcontainer{
  width: 10;
    }
    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 200px !important;
        margin: auto !important;
    }
  .smallDimension{
  display:flex;
  flex-wrap: wrap;
  }
    .imageSidze{
  
  width: 100%;
    }
    .css-sg8mv5 {
        display: flex;
        width: 100%;
        padding: 4px;
        position: relative;
        max-width: 420px;
        min-width: 360px;
        margin: 0px auto;
        height: 55px;
    }
  
    .smallContainer{
  height:50px
    }
  
    .css-u4f6e2 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        width: 100%;
        justify-content: right;
    }
  
  .css-1i6ag2y{
  
  
  width: 100%;
    padding: 16px 0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: block !important;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 24px;
    grid-column-gap: 12px;
    overflow: hidden;
  
  
  }
   .css-10yrbxq{
  margin-top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 20px;
   }
    .css-1j6fzon{
  display:none
    }
  
    .css-3mrm0u {
        min-height: auto !important;
       width: 100%;
       margin: 0 auto;
   }
  
   .css-q2wyx6{
   cursor: pointer;
   padding: 0px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   -webkit-box-align: center;
   align-items: center;
   width: 100%;
   .css-3mrm0u {
    min-height: none !important;
   width: 100%;
   margin: 0 auto;
  }
  
  
  
  
   }
  
  
   .css-1qykdtd {
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  
  
  
  
  
  
  .css-10tfwg6 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px 12px;
    flex-direction: column;
    align-items: flex-start;
  }
  
  
  
  
  .css-rn53ph {
    width: 100%;
    cursor: pointer;
    display: flex;
  }
  
  .css-1uikien {
    height: 100%;
    cursor: pointer;
    width: 100%;
    margin-right: 8px;
  }
  
  .css-1489hrt {
    width: 100%;
    border-radius: 8px;
    position: relative;
    margin-bottom: 8px;
  }
  
  .css-n9g88t {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    width: 100%;
    padding-left: 4px;
    padding-bottom: 4px;
  }
  
  
  .css-tdbqpt {
    padding: 0px;
    margin-top: 4px;
    margin-left: -4px;
    margin-bottom: -4px;
  }
  
  .css-17k8yqf {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  img {
    border-style: none;
  }
  
  .css-hljoma {
    font-size: 13px;
    margin-top: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 21px;
    height: 42px;
  }
  
  .css-1nc1eyv::after {
    content: "ì›";
    font-weight: 500;
    font-size: 10px;
  }
  
  
  .css-1s4vgyd {
    margin-top: 8px;
  }
  .css-1mrl3y5 div:first-of-type {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .css-10fjvtr {
    display: flex;
    font-weight: 500;
    font-size: 11px;
    color: rgb(102, 102, 102);
    margin-top: 8px;
  }
  }
  
  
  @media screen and (min-width:959px) {
    .css-jzer2w{
        display: none !important;
            }
     
  
             .displayonSmall{
  display:none;
             }
  }
  
  
  .css-1drsoe3{
    height : 20px !important;
  }
  
  
  
  .css-zkzhl8 {
    position: relative;
    overflow: hidden;
    margin-top: 48px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }
  
  
  
  
  .css-uxm20z .swiper-container .swiper-button-prev {
    display: none !important;
    width: 44px !important;
    height: 44px !important;
    background-color: rgba(51,51,51,0.5) !important;
    padding: 10px !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff !important;
    position: absolute !important;
    left: 16px !important;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 10px;
    right: auto;
  }
  
  
  @media (min-width: 960px){
  .css-uxm20z .swiper-container .swiper-button-prev {
    display: -webkit-box !important; 
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex !important;
  
  
  
  
  }
  }
  @media (min-width: 960px){
  .css-uxm20z .swiper-container:before {
    left: -1000% !important;
  }
  
  }
  @media (min-width: 960px){
  .css-uxm20z .swiper-container:before, .css-uxm20z .swiper-container:after {
    content: '';
    display: block !important;
    width: 1000% !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    background: rgba(255,255,255,0.6) !important;
    z-index: 10 !important;
  }
  
  .swiper-button-prev {
    left: var(--swiper-navigation-sides-offset, 10px);
    right: auto;
    left: 35% !important;
  }
  
  
  .swiper-button-prev::after{
    content: ">";
    color: white;
    font-size: 20px !important;
    font-weight: bold;
    margin-left: 15px;
    z-index: 2;
  }
  
  .swiper-button-prev::before{
    content: "";
    height: 45px;
    width:45px;
    position:absolute;
    right:-5px;
    border-radius: 50%;
    left:0;
    top: 0;
  
    bottom: 0;
    background-color: rgba(8, 8, 8, 0.644);
    
  }
  
  .imageSide{
  
    width: 960px !important;
    margin-right: 500px;
  
  }
  .swiper-button-next{
    right: 35% !important;
    left: auto;
    position:relative;
    height: 44px !important;
    width: 40px !important;
    color:rgb(255, 255, 255) !important
  }
  
  .swiper-button-next::after{
    content: ">";
    color: white;
    font-size: 20px !important;
    font-weight: bold;
    z-index: 2;
  }
  .swiper-button-next::before{
    content: "";
    height: 45px;
    width:45px;
    position:absolute;
    left:-5px;
    border-radius: 50%;
    right:0;
    top: 0;
  
    bottom: 0;
    background-color: rgba(8, 8, 8, 0.644);
    
  }
  }
  