.css-kknodv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.css-kknodv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
  .icon {
    height: 1.5rem;
    width: 1.5rem;
    background-color: red;
    padding: 4px;
    position: absolute;
    box-sizing:border-box;
    top:50%;
    left:2px;
    transform: translateY(-50%);
  }
  
  .input {
    height: 50px;
    box-sizing:border-box;
    padding-left: 1.5rem;
  }


  .hamburger{
    width: 1rem;
    height: 1rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
    }
    .burger{
    width: 1rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color: black;
    transform-origin: 1px;
    transition: all 0.3s linear;
    }


   /*     */


   .css-1dizb6t {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 72px;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    border-bottom: 1px solid rgb(238, 238, 238);
}

.css-1j6fzon {
  position: relative;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
  max-width: 960px;
}

.css-kknodv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}




.css-16zzwcy::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background: url('../../../public/images/iconBurger.svg')  no-repeat  right;
  vertical-align: text-top;
}


.css-16zzwcy {
  cursor: pointer;
  color: rgb(0, 208, 148);
}


.css-18wyd8f {
    background-color: rgb(255, 255, 255);
    padding-left: 40px;
    padding-right: 40px;
}
[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.css-9ul4v3 {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.css-9ul4v3 button {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-right: 8px;
  color: rgb(51, 51, 51);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.5px;
}
.css-9ul4v3 .bar {
  margin-right: 12px;
}
img {
  border-style: none;
}
.css-j8i5az {
  position: relative;
  margin-left: 90px ;
  width: 335px;
}
.css-kknodv {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}


::before, ::after {
  box-sizing: border-box;
}

.css-16zzwcy {
  cursor: pointer;
  color: rgb(0, 208, 148);
}
.css-9ul4v3 button:last-of-type {
  margin: 0px;
}

::before, ::after {
  box-sizing: border-box;
}

.css-9ul4v3 button {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-right: 8px;
  color: rgb(51, 51, 51);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.5px;
}
button, a {
  padding: 0px;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  border: 0px;
  background: none;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button, a {
  padding: 0px;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  border: 0px;
  background: none;
}
[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}
button, select {
  text-transform: none;
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input {
    background: none;
    padding: 9px 12px;
    color: rgb(51, 51, 51);
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    width: 100%;
    letter-spacing: -0.5px;
    font-size: 14px;
    line-height: 1.57;
    appearance: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.css-15r8hvz {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 12px;
  width: 20px;
}

img {
  border-style: none;
}
.css-16zzwcy {
  cursor: pointer;
  color: rgb(0, 208, 148);
}


.css-1olrbel {
    cursor: pointer;
    margin-right: 30px;
    width: 105.6px;
    height: 32px;
}
img {
    border-style: none;
}


img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


@media (min-width: 960px){

.css-1olrbel {
    margin-right: 16px;
    width: 128.345px;
    height: 25.093px;
}
}




@media (min-width: 960px){
.css-1olrbel {
    margin-right: 16px;
    width: 128.345px;
    height: 25.093px;
}
.css-1olrbel {
    cursor: pointer;
    margin-right: 30px;
    width: 120.6px;
    height: 32px;
}
img {
    border-style: none;
}

}